:root {
  --Primary: #0b1020;
  --Secondary: #1e283a;
  --Accent: #0ba5e9;
  --Text: #ffffff;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: var(--Secondary);
  color: var(--Text);
  overflow-x: hidden;
}

.header {
  width: 100%;
  background-color: var(--Primary);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
}
.btn-nav {
  display: none;
}
.active {
  display: flex;
}

.btn {
  padding: 0.6em;
  border-radius: 0.2em;
  background-color: var(--Accent);
  color: var(--Text);
  border: none;
  margin: 0 1.2em 0 0;
}
.container-form {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.container-form form {
  width: 50%;

  border: 1px solid white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: 3px;
}

.container-form label {
  margin-bottom: 0.5em;
}

.container-form input,
.container-form select {
  margin-bottom: 1em;
  padding: 5px;
}
.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-title button {
  border: none;
  background-color: var(--Secondary);
}
.active {
  display: flex;
}
button:hover {
  cursor: pointer;
}

table {
  width: 95%;
  border-collapse: collapse;
  background-color: var(--Secondary);
  margin: 2em;
}

td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: var(--Text);
}

th {
  background-color: var(--Text);
  color: var(--Secondary);
}

th:first-child,
td:first-child {
  border-left: 1px solid #ddd;
}

th:last-child,
td:last-child {
  border-right: 1px solid #ddd;
}

.table-btn {
  padding: 5px 10px;
  margin: 8px;
  background-color: var(--Accent);
  color: var(--Text);
  border: none;
  cursor: pointer;
}
.delete {
  background-color: red;
}
.table-btn button:hover {
  background-color: #0056b3;
}
